 /**
 * General settings for stylin' webiste
 * Works with basic text, body,
 * and html containers. */

p {
	font-size: 110%;
}

.content{
	padding-left: 5;
	width: 720px;
	margin-right: auto;
	margin-left: auto;
}

h1, h2, h3 {
	color: #0B0B61;
	font-size: 150%;
}

li {
	font-size: 120%;
	list-style-type: none;
}

h1 {
	font-size: 225%;
	text-align: left;
	color: #0B0B61;
}

header{
	background: #F2F2F2;
	width: 100%;
	text-align: center;
}

header a h1{
	text-align: center;
}

body{
	width: 100%;
	padding: 0;
}

a{
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
}

.pContainer {
	position: absolute;
	width: 90%;
	left: 5%;
}

/*nav {
	z-index: 10;
	display: block;
	width: 100%;
	float: center;
	text-align: right;
}*/

/*nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}*/

/*nav ul li{
	color: white;
	display: inline-block;
	padding: 30px 20px;
}*/

/*nav ul li:hover{
	color:#81BEF7;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}*/
/*
nav ul ul{
	display: inline-block;
	visibility: hidden;
	position: absolute;
	z-index: 10;
	top: 127px;
	left: 0px;
	background: #F2F2F2;
	opacity: 0;
	width: 100%;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}*/

/*nav ul ul a{
	font-size: 80%;
}*/

/*nav ul li:hover > ul{
	visibility: visible;
	opacity: 0.9;
}*/

/*nav ul ul li{
	float: center;
	position: relative;
}*/

img{
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/**
 * Main styling section for about page
 * Darken page effect
 * Adjusts popputs and creates a darkeing
 * effect that maeks the page darken behind div
 * Also accounts for opening pdf in case of
 * the resume page */

#aboutme {
	height: 100%;
	background-attachment: fixed;
	background: url(../public/hk.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#about {
	height: 100%;
}

#pinBox {
	top: 10px;
	height: 100%;
	display: table;
	position: relative;
	width: 60%;
	left: 20%;
	right: 20%;
}

#pin {
	position: relative;
	width: 200px;
	height: 200px;
	display: table-cell;
}


.cover {
	background: black;
	display: none;
	z-index: 10;
	height: 100%;
	width: 100%;
	opacity: 0;
	position: fixed;
}

#resume.popup {
	width: 50%;
	left: 25%;
	overflow: auto;
}

.popup {
	z-index: 15;
	position: fixed;
	left: 10%;
	top: 10%;
	background-color: white;
	width: 80%;
	height: 80%;
	display: none;
}

.button {
	position: relative;
}

/* Home page Introduction */

.text {
	position: relative;
	height: 400px;
	display: table;
	text-align: center;
}

.text span {
	display: table-cell;
	vertical-align: middle;
}

/* Pointer slide down effect */

#pointerContainer {
	position: absolute;
	left: 48%;
	bottom: 6%;
	width: 30px;
	height: 19px;
}

#pointer {
	position: absolute;
}

#bContainer{
	width: 10%;
	height: 10%;
	background: blue;
}

.slideout {
	position: relative;
	height: 150px;
}

#hidden:hover {
	display: block;
}

.slideout:hover {
	background: green;
}

#hidden {
	position: absolute;
	height: 100%;
	width: 100%;
	background: white;
	display: none;
}


/* Page Home Images */

#passions {
	height: 100%;
	background-attachment: fixed;
	background: url(../public/bell.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#bloglist {
	text-align: center;
	background: #A4A4A4;
	padding-bottom: 10px;
}

.sideQuote {
	position: absolute;
	width: 40%;
	left: 50%;
}

.sideQuote h1 {
	color: white;
	font-size: 300%;
}

.sideQuote p {
	color: white;
	font-size: 150%;
}

.quote {
	position: absolute;
	top: 25%;
	left: 10%;
	width: 80%;
}

.quote h2 {
	text-align: center;
	font-size: 200%;
	color: white;
}

.quote h1 {
	text-align: center;
	font-size: 500%;
	color: white;
}

#arrowdiv {
	text-align: center;
}
#arrow {
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;
}

#olderBlogs {
	border-top: black;
	display: inline-block;
}

#older, #newer {
	width: 50%;
	text-align: center;
}

#older:hover, #newer:hover{
	background: #E6E6E6;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

#older {
	float: left;
}

#newer {
	float: right;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

div {
	width: 100%;
}

/**
 * Cover background information
 */

#wrapper {
	position: relative;
	height: 100%;
}

#blue {
	position: absolute;
	height: 100%;
	background-attachment: fixed;
	background: url(../public/me_on_a_rock.gif) no-repeat right bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#blossoms {
	position: absolute;
	height: 100%;
	background-attachment: fixed;
	background: url(../public/blossoms.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#blossoms nav ul li {
	color: #DF01A5;
}

#blossoms nav ul li:hover {
	color: #FF00FF;
}

#plane {
	position: absolute;
	height: 100%;
	background-attachment: fixed;
	background: url(../public/plane.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#plane nav ul li {
	color: #FE9A2E;
}

#plane nav ul li:hover {
	color: #FF8000;
}

#trees {
	position: absolute;
	height: 100%;
	background-attachment: fixed;
	background: url(../public/trees.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#trees nav ul li {
	color: #173B0B;
}

#trees nav ul li:hover {
	color: #0B610B
}

#berkeleyView {
	position: relative;
	height: 100%;
	background-attachment: fixed;
	background: url(../public/berkeleyView.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#blog {
	height: 100%;
	background-attachment: fixed;
	background: url(../public/bigC_hike.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#welcome {
	color: white;
	text-align: center;
}

/* About page statements and images */



#moreAbout {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	color: white;
}


.blog {
	background: white;
	background: cover;
	min-height: 400px;
}


/**
 * Footer nav bar and social media links
 * Styles the social media logos
 * Fixes up the footer navigation bar
 * Adds copyright mark at bottom */

#footer {
	position: relative;
	background: black;
	height: 150px;
}

#footnav {
	top: 40%;
	position: absolute;
	text-align: center;
	font-size: 90%;
}


#social_media {
	position: relative;
}

.tag {
	position: absolute;
}

#copyright {
	height: 20px;
	position: relative;
	text-align: center;
}

#copyright h3 {
	font-size: 60%;
	color: #848484;
}

#fb {
	position: absolute;
	top: 10px;
	left: 50%;
	height: 40px;
	width: 50px;
	margin: 0px 0 0 40px;
}

#gh {
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	left: 50%;
	margin: 0px 0 0 -80px;
}

#in {
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	left: 50%;
	margin: 0px 0 0 -20px;
}


