#pillar {
	position: relative;
	height: 100%;
	background-attachment: fixed;
	background: white; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#word {
	position: absolute;
	width: 50%;
	top: 30%;
	left: 35%;
}
#word h1 {
	left:30px;
	position: relative;
	font-size: 300%;
	color: black;
}

#word h3 {
	color: black;
}
.slideout {
	position: relative;
	height: 150px;
}

#hidden:hover {
	display: block;
}

.slideout:hover {
	background: green;
}

#hidden {
	position: absolute;
	height: 100%;
	width: 100%;
	background: white;
	display: none;
}


#passions {
	height: 100%;
	background-attachment: fixed;
	background: url(../public/bell.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#bloglist {
	text-align: center;
	background: #A4A4A4;
	padding-bottom: 10px;
}
#quote {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
}

#quote h2 {
	vertical-align: center;
	font-size: 180%;
	color: white;
}

#arrowdiv {
	text-align: center;
}
#arrow {
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;
}

#olderBlogs {
	border-top: black;
	display: inline-block;
}

#older, #newer {
	width: 50%;
	text-align: center;
}

#older:hover, #newer:hover{
	background: #E6E6E6;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

#older {
	float: left;
}

#newer {
	float: right;
}

html, body {
	height: 100%;
}

div { 
	width: 100%;
}

#aboutme {
	height: 100%;
	background-attachment: fixed;
	background: url(../public/hk.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#sunset {
	position: relative;
	height: 100%;
	background-attachment: fixed;
	background: url(../public/berkeley_sunset.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#blog {
	height: 100%;
	background-attachment: fixed;
	background: url(../public/bigC_hike.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#welcome {
	color: white;
	text-align: center;
}

.blog {
	background: white;
	background: cover;
	min-height: 400px;
}

p{
	font-family: 'PT Sans', sans-serif;
	font-size: 110%;
}
html, body{
	width: 100%;
	margin: 0;
	padding: 0;
}

.content{
	padding-left: 5;
	width: 720px;
	margin-right: auto;
	margin-left: auto;
}

h1,h2,h3,li{
	font-family: 'PT Sans', sans-serif;		
	color: #0B0B61;
	font-size: 150%;
}

li{
	font-size: 120%;
	list-style-type: none;
}

h1{
	font-size: 225%;
	text-align: left;
	color: #0B0B61;
}

#about{
	font-size: 175%;
}

#bio{
	color: #0B0B61;
}

header{
	background: #F2F2F2;
	width: 100%;
	text-align: center;
}
header a h1{
	text-align: center;
}

body{
	width: 100%;
	padding: 0;
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
}

#footer {
	background: black;
}

#footnav {
	text-align: center;
	font-size: 80%;
}

nav{
	display: block;
	width: 100%;
	float: center;
	text-align: right;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	color: white;
	display: inline-block;
	padding: 30px 20px;
	
	
}

nav ul li:hover{
	color:#81BEF7;

}

nav ul ul{
	display: inline-block;
	visibility: hidden;
	position: absolute;
	z-index: 10;
	top: 127px;
	left: 0px;
	background: #F2F2F2;
	opacity: 0;
	width: 100%;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

nav ul ul a{
	font-size: 80%;
}

nav ul li:hover > ul{
	visibility: visible;
	opacity: 0.9;
}

nav ul ul li{
	float: center;
	position: relative;
}

img{
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#blog.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* fixed navbar */

#fixed{
	z-index: 4;
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,0.4);
	color: white;
}

#fixed ul li{
	color: white;
}

#books{
	z-index: 0;
	position: relative;
	background-image: url(../public/books.jpg);
	width: 720px;
	height: 250px;
}


.overlay{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out; 
	-webkit-backface-visibility:hidden;
}

.overlay:hover{
	opacity: 1;
}

.txt-container{
	position: absolute;
	display: inline-block;
	width: 100%;
}

#img_txt{
	text-align: center;
	color: white;
	font-size: 400%;
}



