@font-face {
  font-family: 'Jaapokki';
  font-style: normal;
  font-weight: normal;
  src: local('Jaapokki'), url('../fonts/Jaapokki-Regular.otf');
}
body {
  background-color: rgb(247, 247, 247);
  height: 100%;
  width: 100%;
}

.after-post-name {
  font-family: 'Jaapokki';
  text-align: center;
  font-size: 180%;
}

.after-post-hr {
  background-color: rgb(221, 221, 221);
  margin-top: 3em;
  margin-bottom: 2em;
}

.post-hr {
  background-color: rgb(221, 221, 221);
  margin-top: 2em;
  margin-bottom: 2em;
}

.home-hr {
  background-color: rgb(221, 221, 221);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.email-footer-hr {
  background-color: rgb(221, 221, 221);
  margin-top: 1.5em;
  margin-bottom: .5em;
}

h1, h2, h3, li, h4, h5, h6, a, p, button, input {
  font-family: 'Open Sans', Helvetica;
}

.nav-item {
  font-family: 'Open Sans', Helvetica;
}

#blog {
  padding-top: 10px;
}

#footer {
  margin-bottom: 10px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary {
  background-color: rgb(37, 71, 146);
  border-color: rgb(37, 71, 146);
}

.navcontainer {
  background-color: rgba(10, 10, 10, 0.5);
  position: fixed;
  right: 20px;
  bottom: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 999;
  border-radius: 3px;
}

.navitems {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 8px;
  width: 200px;
  background-color: rgba(10, 10, 10, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;
  border-radius: 3px;
}

.navitem {
  color: rgb(247, 247, 247);
  text-align: left;
}

blockquote {
  padding: 1em;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
}

.blog-title-link {
  color: rgb(37, 71, 146);
}
.blog-title-link:hover {
  color: rgb(37, 71, 146);
  text-decoration: none;
}

a, a:hover, a:visited {
  color: rgb(37, 71, 146);
  text-decoration: none;
}

hr {
  background-color: rgb(37, 71, 146);
}

.title {
  text-align: center;
}

.centered {
  margin: auto;
}

.blog-nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cover {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cover-photo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-left-width: 10px;
  border-color: rgb(247, 247, 247);
  background-position: center;
  background-size: cover;
}

.blog-title {
  font-size: 250%;
  color:rgb(247, 247, 247);
  justify-content: flex-start;
}

.post-title {
  font-size: 300%;
  color:rgb(247, 247, 247);
}

.post-subtitle {
  font-size: 150%;
  color:rgb(247, 247, 247);
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.banner {
  text-align: left;
  line-height: 1;
  border-bottom: 1px solid rgb(65, 65, 65);
  padding-top: 3em;
  padding-bottom: 1em;
}

.blog-subtitle {
  margin-top: 5px;
  color: rgb(142, 142, 142);
}

.img-home {
  max-height: 400px;
  min-height: 250px;
  display:block;
  background-position: center;
  background-size: cover;
}

.img-container {
  padding-left: 10px;
  padding-bottom: 10px;
  width: 40%;

}

.img-container-center {
  width: 100%;
  margin: 0 auto;
}

.img-container-book {
  width: 30%;
  margin: auto;
}
.blog-content {
  text-align: left;
}

.no-underline-link:hover {
  text-decoration: none;
}

#something {
  display: none;
}

#something:target {
  display: block;
}