p{
	font-family: 'PT Sans', sans-serif;
	font-size: 110%;
}
html{
	width: 100%;
}

h1,h2,h3,li{
	font-family: 'PT Sans', sans-serif;		
	color: #0B0B61;
	font-size: 150%;
}

li{
	font-size: 120%;
}

h1{
	font-size: 225%;
	text-align: left;
	color: #0B0B61;
}

#about{
	font-size: 175%;
}

#bio{
	color: #0B0B61;
}

header{
	background: #F2F2F2;
}

body{
	background: #F2F2F2;
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
}

nav{
	display: block;
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #BDBDBD;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	padding: 10px 10px;
}

nav ul li:hover{
	color:#81BEF7;
}

img{
	padding: 10px;
}

#blog.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* fixed navbar */

#fixed{
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,0.4);
	color: white;
}

#fixed ul li{
	color: white;
}

