---
layout: default
permalink: /media_reflections/
---
<div class="row">
<div class="col s9">
  <h1>Media Reflections</h1>

  <p>
    As a 2016 New Year's resoultion, my friend Mitas and I are planning on
    writing short reflections on every movie and book we watch and read this
    year. Every media experience is shaped by the context of our current
    perspectives on life. I feel like movies and books are such important
    experiences in our lives, giving us more insight into life and ourselves.
    My hope is that this New Year's resolution will help me remember the
    impact that different media has had on me throughout my life.
  </p>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="fa fa-film"></i>Movies</div>
    <div class="collapsible-body">
      <ul class="collection">
        {% for post in site.posts %}
          {% if post.category contains "movie" %}
            <li class="collection-item">
              <a class="modal-trigger" href="#{{ post.slug }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-book"></i>Books</div>
    <div class="collapsible-body">
      <ul class="collection">
        {% for post in site.posts %}
          {% if post.category contains "book" %}
            <li class="collection-item">
              <a class="modal-trigger" href="#{{ post.slug }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </li>
</ul>

  </ul>
</div>
</div>


{% for post in site.posts %}
  <div id="{{ post.slug }}" class="modal col s9">
    <div class="modal-content">
      {{ post.content }}
    </div>
  </div>
{% endfor %}





