

<div id="footer">
	<div id="social_media">
		<a href="https://www.facebook.com/kevarifin14"><div id="fb" class="tag">
			<img src="../public/facebook3.png" height="40" width="40">
		</div></a>
		<a href="https://github.com/kevarifin14"><div id="gh" class="tag">
			<img src="../public/github10.png" height="40" width="40">
		</div></a>
		<a href="https://www.linkedin.com/in/kevinarifin"><div id="in" class="tag">
			<img src="../public/linkedin1.png" height="40" width="40">
		</div></a>
	</div>

	<nav id="footnav">
		<ul>
			<a href="/"><li>Home</li></a>
			<a href="/050115/"><li>Blog</li></a>
			<a href="/aboutme/"><li>About</li></a>
			<a href="#"><li>Passions</li></a>
		</ul>
	</nav>
</div>

<div id="copyright">
	<h3>Copyright 2015</h3>
</div>

</body>
</html>
