<!DOCTYPE html>
<html lang='en'>

<head>
  <title>Life In Bytes</title>
</head>

<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
<link rel='stylesheet' href='/css/style.css'>
<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>

<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh' crossorigin='anonymous'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js' integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ' crossorigin='anonymous'></script>
<script>
  function toggleNav() {
    var navitems = document.getElementById("navitems");
    var navcontainer = document.getElementById("navcontainer");

    if (navitems.style.display === "none") {
      navitems.style.display = "block";
      navcontainer.style.display = 'none';
    } else {
      navitems.style.display = "none";
      navcontainer.style.display= 'block';
    }
  }
</script>

<div class='navcontainer' id='navcontainer' onclick="toggleNav()">
  <i style='color: rgb(224, 224, 224)' class="fas fa-bars"></i>
</div>
<div style='display: none' class='navitems' id="navitems">
  <a href="/">
    <div class='navitem'>
      Home
    </div>
  </a>
  <a href="/about" >
    <div class='navitem'>
      About
    </div>
  </a>
  <a href="/reading-list" >
    <div class='navitem'>
      Reading List
    </div>
  </a>
  <a href='/subscribe'>
     <div class='navitem'>
       Subscribe
    </div>
  </a>
  <div style='color: rgb(224, 224, 224); display: flex; align-items: flex-end; flex-direction: column' onclick="toggleNav()">
    <i style='padding: 3px' class="fas fa-times"></i>
  </div>
</div>

