<!DOCTYPE html>
<html>

<script type="text/javascript">
$(document).ready(function(){
	$('#top a, #fixed a').on('click', funct e.preventDefault();});
	$(window.on('scroll',function(){
		var scrolltop = $(this).scrollTop();

		if (scrolltop >= 215){
			$('#fixed').fadeIn(250);
		}

		else if (scrolltop <= 210){
			$('#fixed').fadeOut(250);
		}
	});
});
</script>

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

<header>
	<a href="/"><h1>Kevin Arifin</h1></a>
</header>

<nav id='top'>
	<ul>
		<a href="/"><li>Home</li></a>
		<a href="/archives/"><li>Archive</li></a>
		<a href="/aboutme/"><li>About Me</li></a>
	</ul>
</nav>
</head>