<!DOCTYPE html>
<html>
<a name = "home">
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$(window).on('scroll',function() {
		var scrolltop = $(this).scrollTop();

		if (scrolltop >= 150){
			$('#fixed').fadeIn(250);
		}

		else if (scrolltop <= 160){
			$('#fixed').fadeOut(250);
		}
	});
});
</script>

<header>
	<a href="/"><h1>Kevin Arifin</h1></a>
</header>

<nav id='top'>
	<ul>
		<a href="/"><li>Home</li></a>
		<a href="/archives/"><li>Archive</li></a>
		<li>
			Pages
			<ul>
				<a href="/books/"><li>Books</li></a>
				<a href="#"><li>Movies</li></a>
				<a href="#"><li>Projects</li></a>
				<a href="/aboutme/"><li>About Me</li></a>

		</li>
	</ul>
</nav>
</head>