<nav>
  <ul id="slide-out" class="side-nav">
      <li>
        <a href="/">
          <span class="fa fa-home" aria-hidden="true"></span> Home
        </a>
      </li>
      <li>
        <a href="/development_blog/">
          <span class="fa fa-code-fork" aria-hidden="true"></span> Development Blog
        </a>
      </li>
      <li>
        <a href="/media_reflections/">
          <span class="fa fa-pencil" aria-hidden="true"></span> Media Reflections
        </a>
      </li>
      <li>
        <a href="/about/">
          <span class="fa fa-user" aria-hidden="true"></span> About
        </a>
      </li>
      <div id="copyright-box">
        <p id="copyright" align="center">
          © 2015 Copyright Kevin Arifin
        </p>
      </div>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu">  </i></a>
</nav>
