<script type="text/javascript">

	var step = 0
	var whichimage = 0

	function slideit() {
		if (!document.images)
			return
		document.getElementById('slide').src = slideimages[step].src
		whichimage = step
		if (step < 2)
			step++
		else
			step = 0
		setTimeout("slideit()", 2500)
	}

	function slidelink() {
		if (whichimage == 0)
			window.location = "link1.htm"
		else if (whichimage == 1) 
			window.location = "link2.htm"
		else if (whichimage == 2)
			window.location = "link3.htm"
	}

	slideit()

</script>