<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		var slideimages = new Array()
		slideimages[0] = new Image()
		slideimages[0].src = "../public/northvancouver.jpg"
		slideimages[1] = new Image()
		slideimages[1].src = "../public/neighborhood.jpg"
		slideimages[2] = new Image()
		slideimages[2].src = "../public/snow.jpg"
	</script>
	
</head>
<body>