.nav {
  display: grid;
  grid-template-columns: 1fr auto;
}

.navLink {
  margin: 1em;
  text-decoration: none;
  color: black;
  font-size: 125%;
}

.rightMenu {
  align-self: center;
}

#navToggle, .burgerMenu {
  display: none;
  align-self: center;
  cursor: pointer;
  padding: 1em;
}


@media only screen and (max-width: 600px) {
  .rightMenu {
    display: none;
  }

  .burgerMenu {
    display: inline-block;
  }

  #navToggle:checked ~ .rightMenu {
    display: grid;
    grid-row: 2;
  }
}

@media only screen and (min-width: 600px) {
  .navLink:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
}

