{% include header.html %}
<meta property="og:image" content="{{ page.image }}">
{% include post-nav.html %}
<script src="//yihui.name/js/math-code.js"></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<body>
  <div
    class='cover-photo'
    style='
      background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
        url({{ page.image }});
      background-position: center;
      background-size: cover;'
  >
    <div style='text-align: center'>
      <h1 class='post-title'>{{ page.title }}</h1>
    </div>
    <h3 class='post-subtitle'>{{ page.date | date: "%B %-d, %Y" }}</h3>
  </div>
  <div class='container' id='blog'>
    <div class='row'>
      <div class='col-md-8 centered'>
        {{ content }}

        <hr class='after-post-hr'/>

        <h3>I'd love to hear from you!</h3>
        <p>
        If you'd like to share your thoughts about my post, feel free to email me at <a href='mailto:lifeinbytes@kevinarifin.com'>lifeinbytes@kevinarifin.com</a>
        or send me a DM on <a href='https://twitter.com/kevarifin' target='_blank'>Twitter</a>. I also send out my Thought Bytes newsletter
        every Thursday if you want more content like this! You can subscribe <a href='/subscribe'>here.</a>
        </p>
      </div>
    </div>
  </div>
{% include footer.html %}