{% include header.html %}
{% include nav.html %}

</header>
<body>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 centered'>
        <div class='container' style='padding: 0'>

          <div class='row'>
          {% for post in site.posts %}
              <div class='col-md-4'>
                <a href='{{ post.permalink }}' class='blog-title-link'><h5>{{ post.title }}</h5></a>
                <a href='{{ post.permalink }}'>
                  <div class='img-responsive img-container-center img-home-preview' style='background-image: url({{ post.image }})'></div>
                </a>
                <h6 class='blog-subtitle'>{{ post.date | date: "%B %-d, %Y" }}</h6>
                <p>
                  {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>'}}
                  <b><a href='{{post.permalink}}' class='read-more'>Read More</a></b>
                </p>
              </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% include footer.html %}