---
layout: default
permalink: /journal/
---
<br/>
<br/>
<br/>
<div class="container-fluid">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/friends.jpg">
      <div class="caption">
        <h3>First Week, First Post</h3>
        <h4>January 23, 2015</h4>
        <p><a class="btn btn-primary" id="150123" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/unit2.jpg">
      <div class="caption">
        <h3>First Week, First Post</h3>
        <h4>February 1, 2015</h4>
        <p><a class="btn btn-primary" id="150201" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/glade.jpg">
      <div class="caption">
        <h3>Taking A Step Forward By Looking Back</h3>
        <h4>February 12, 2015</h4>
        <p><a class="btn btn-primary" id="150212" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/blossoms.JPG">
      <div class="caption">
        <h3>Vancouver Adventures</h3>
        <h4>March 21, 2015</h4>
        <p><a class="btn btn-primary" id="150321" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/lewisribs.jpg">
      <div class="caption">
        <h3>Day 2 Rest and Relax</h3>
        <h4>March 22, 2015</h4>
        <p><a class="btn btn-primary" id="150322" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/northvancouver.jpg">
      <div class="caption">
        <h3>Oh Hail No</h3>
        <h4>March 23, 2015</h4>
        <p><a class="btn btn-primary" id="150323" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/trees.jpg">
      <div class="caption">
        <h3>Berkeley Stretch Run</h3>
        <h4>April 2, 2015</h4>
        <p><a class="btn btn-primary" id="150402" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/sailAway.jpg">
      <div class="caption">
        <h3>I'm On A Train</h3>
        <h4>May 1, 2015</h4>
        <p><a class="btn btn-primary" id="150501" role="button">View</a></p>
      </div>
    </div>
  </div>
</div></div>

<div class="popup" id="150123">
  {% include entries/150123.html %}
</div>
<div class="popup" id="150201">
  {% include entries/150201.html %}
</div>
<div class="popup" id="150212">
  {% include entries/150212.html %}
</div>
<div class="popup" id="150321">
  {% include entries/150321.html %}
</div>
<div class="popup" id="150322">
  {% include entries/150322.html %}
</div>
<div class="popup" id="150323">
  {% include entries/150323.html %}
</div>
<div class="popup" id="150402">
  {% include entries/150402.html %}
</div>
<div class="popup" id="150501">
  {% include entries/150501.html %}
</div>

