<head>
<meta charset="utf-8">
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<title>Life in Bytes | Bali Map</title>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
<style>

html, body, #wrapper {
  width: 100%;
  height: 600px;
  padding: 0px;
  margin: 0px;
}

#map {
  position:relative;
  width: 100%;
  height: 100%;
  margin: auto auto;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
div.tooltip {
  color: #222;
  background-color: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 0;
  opacity: 0.9;
  position: absolute;
  font: normal 14px/1.3 Arial;
}

</style>
</head>

<body>
<div id="wrapper">
    <div id="map"></div>
</div>

<script src='//unpkg.com/d3@5.0.0/dist/d3.min.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
<script>
d3.json("test.geojson").then(mapDraw);


function mapDraw(geojson){
  //mapboxgs トークン
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2hpbWl6dSIsImEiOiJjam95MDBhamYxMjA1M2tyemk2aHMwenp5In0.i2kMIJulhyPLwp3jiLlpsA';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v8',
    center: [115.1920, -8.623],
    zoom: 10,
  });

  map.addControl(new mapboxgl.NavigationControl());

  // svg
  var container = map.getCanvasContainer()
  var svg = d3.select(container).append("svg")

  var transform = d3.geoTransform({point: projectPoint});
  var path = d3.geoPath().projection(transform);

  var minLon = -8.6405 - 1;
  var maxLon = -8.6405 + 1;
  var minLat = 115.1920 - 1;
  var maxLat = 115.1920 + 1;
  var tooltip = d3.select('body')
    .append('div')
    .attr('class', 'hidden tooltip');
  var featureElement = svg.selectAll("path")
    .data(geojson.features)
    .enter()
    .filter(function(d) {
     if (d.geometry.type == 'Point') {
        var coordinates = d.geometry.coordinates;
        if (!(coordinates[1] < maxLon && coordinates[1] > minLon && coordinates[0] < maxLat && coordinates[0] > minLat)) {
          return false;
        }
      } else {
        for (var i = 0; i < d.geometry.coordinates.length; i++) {
          var coordinates = d.geometry.coordinates[i];
          if (!(coordinates[1] < maxLon && coordinates[1] > minLon && coordinates[0] < maxLat && coordinates[0] > minLat)) {
            return false;
          }
        }
      }
      return true
    })
    .append("path")
    .attr("stroke", function(d) {
      if (d.geometry.type == 'LineString') {
        if (d.properties.type == 'walking') {
          return 'rgb(54, 187, 138)';
        } else if (d.properties.type == 'car') {
          return 'rgb(231, 72, 56)';
        } else if (d.properties.type == 'tram') {
          return 'rgb(169, 143, 53)';
        }
      } else {
        return 'white';
      }
    })
    .attr('stroke-width', 2)
    .attr('fill', (d) => {
      return d.geometry.type == 'LineString' ? 'none' : 'rgb(107, 81, 240)';
    })
    .on('mouseover', (d) => {
      if (d.geometry.type == 'Point') {
        tooltip.classed('hidden', false)
          .attr('style', 'left:' + (d3.event.pageX + 15) + 'px; top:' + (d3.event.pageY - 35) + 'px')
          .html(d.properties.name);
      }
    })
    .on('mouseout', (d) => {
      tooltip.classed('hidden', true);
    });

    //path
    function update() {
      featureElement.attr("d", path);
    }

  map.on("viewreset", update);
  map.on("movestart", function(){
    svg.classed("hidden", true);
    tooltip.classed('hidden', true);
  });
    map.on("rotate", function(){
    svg.classed("hidden", true);
    tooltip.classed('hidden', true);
  });
    map.on("moveend", function(){
    update()
    svg.classed("hidden", false);
  });
  update();


  function projectPoint(lon, lat) {
        var point = map.project(new mapboxgl.LngLat(lon, lat));
    this.stream.point(point.x, point.y);
  }
}
</script>
</body>