{% include header.html %}
<body>
  <header class='blog-header py-3'>
    <div class='row flex-nowrap justify-content-between align-items-center'>
      <div class='col-8 centered'>
          <a href='/' class='blog-title-link'><h1 class='title'>Life In Bytes</h1></a>
      </div>
    </div>
    <hr />
  </header>

  <div class='container'>
    <div class='row'>
      <div class='col-md-8 centered'>
        <div><a href='#about-me'>About Me</a> | <a href='#teaching'>Teaching</a> | <a href='#interests'>Interests</a></div>
        <br />
        <div>
          <img
            src='/images/me.png'
            class='img-responsive float-right img-container'
          />
        </div>

        <a name='about-me'></a>
        <h2>About Me</h2>
          <p>
            <i>Life In Bytes</i> is a personal blog written by me, Kevin Arifin. I currently live in Chicago but grew up in the Bay Area.
          </p>
          <p>
            I currently work at Citadel as a quantitative developer, with previous experiences as a software engineer at Zendesk and a small
            solar asset management startup. I attended undergrad at UC Berkeley studying EECS with a focus on statistics, machine learning, and
            algorithms.
          </p>
          <p>
            I started <i>Life In Bytes</i> to share my perspective in an increasingly divided world. The focus of the posts will center around my musings in
            the intersection of society, politics, and technology, insights from collecting data about my life, and opinions about articles, podcasts, and books
            I've consumed. The goal is to post semi-regularly while I balance work, fitness, travel, and working on a side project (which I will write
            about when it is released).
          </p>
        <a name='teaching'></a>
        <h2>Teaching</h2>
          <p>
            I am passionate about educational opportunity and teaching. While at UC Berkeley, I taught an introductory data structures course
            (<a href='https://sp18.datastructur.es'>CS61B</a>) and an upper division algorithms course
            (<a href='https://inst.eecs.berkeley.edu/~cs170/fa17/'>CS170</a>). I was also president of
            <a href='http://beam.berkeley.edu'>Berkeley Engineers and Mentors (BEAM)</a>, a science and engineering mentoring organization.
          </p>

        <a name='interests'></a>
        <h2>Interests</h2>
          <p>
            Besides my professional interests, I am a frequenter of reddit, a die-hard Star Wars fan, and an avid reader. I am passionate about
            fitness and health, and also spend time cooking, playing guitar, and eating fruits. I am oddly knowledgeable about the NBA (my friend
            challenged me to name at least five players from every team and I was able to) and spend brain downtime listening to various NBA
            podcasts like <a href='http://www.espn.com/espnradio/podcast/archive/_/id/10528553'>The Lowe Post</a> and
            <a href='https://www.theringer.com/the-bill-simmons-podcast'>The Bill Simmons Podcast</a>.
          </p>
      </div>
  </div>
{% include footer.html %}
