{% include header.html %}
<link rel="stylesheet" href="/css/about.css">
<body>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <header class="masthead clearfix" style="position: relative">
        <div class="inner">
          <nav class="nav nav-masthead">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/projects">Projects</a>
            <a class="nav-link active" href="/about">About</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Who I Am</h1>
        <div class="col-xs-12 jumbotron">
          <div class="col-xs-4" style="padding-bottom: 10pt;">
            <img src="/images/me.png" class="img-rounded img-responsive" style="width: 50%">
            <p style="padding-top: 10px">
              I'm a fourth year EECS major at UC Berkeley finishing up my degree
              this spring. I'll be joining Citadel as a software engineer in July.
              Besides that, I'm a big Star Wars fan and have spent a lot of my time
              binge watching Star Wars: Clone Wars. Check out a little bit more about me
              below.
            </p>
            <a href="#work"><h5>Places I've Worked</h5></a>
              <a href="#teaching"><h5>Classes I've Taught</h5></a>
              <a href="#things"><h5>Things I Do<h5></a>
            </p>
          </div>
        </div>

        <a name="work"/>
        <h1 class="cover-heading">Places I've Worked</h1>
        <div class="col-xs-12 jumbotron">
          <div class="media">
            <div class="media-left">
              <a href="https://www.citadel.com/" target="_blank" >
                <img class="media-object" src="/images/logos/citadel.png" style="width:100px;height:100px;">
              </a>
            </div>
            <div class="media-body">
              <h2 id='about' class="media-heading">Citadel</h2>
              <p id='about'>
                I developed a time series analysis and forecasting tool to help
                analysts make decisions.
              </p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="https://www.zendesk.com/" target="_blank" >
                <img class="media-object" src="/images/logos/zendesk.svg" style="width:100px;height:100px;">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading">Zendesk</h2>
              <p>
                I worked on app optimization using Scala and the Finatra framework.
              </p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="http://rpm.solar/" target="_blank" >
                <img class="media-object" src="/images/logos/rpm.png" style="width:100px;height:100px;">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading">Ra Power Management</h2>
              <p>
                I helped develop a solar asset management platform as one of the first engineers on the team.
              </p>
            </div>
          </div>
        </div>

        <a name="teaching"/>
        <h1 class="cover-heading">Classes I've Taught</h1>
        <div class="col-xs-12 jumbotron">
          <div class="media">
            <div class="media-left">
              <a href="http://cs170.org/" target="_blank" >
                <img class="media-object" src="/images/algorithms.png" style="width:100px;height:100px;">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading">CS 170: Algorithms & Intractable Problems</h2>
              <p>
                I taught one hour discussion sections and hold office hours for a class
                that covers topics including divide & conquer, dynamic programming,
                linear programming and complexity.
              </p>
              <!-- <p><center><a href='https://inst.eecs.berkeley.edu/~cs170/fa17/'>Course Website</a></center></p> -->
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="http://sp18.datastructur.es/" target="_blank" >
                <img class="media-object" src="/images/61b.png" style="width:100px;height:100px;">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading">CS 61B: Data Structures</h2>
              <p>
                I'll be teaching an introducing data structures course Spring
                2018. Topics include basic data structures and asymptotic analysis as
                well as graph theory.
              </p>
            </div>
          </div>
        </div>

        <a name="things"/>
        <h1 class="cover-heading">Things I Do</h1>
        <div class="col-xs-12 jumbotron">
          <div class="media">

            <div class="media-left">
              <a href="https://www.citadel.com/" target="_blank" >
                <img class="media-object" src="/images/logos/beam.jpg" style="width:100px;height:100px;">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading">Berkeley Engineers and Mentors</h2>
              <p>
                I'm the president of BEAM, a science and engineering mentoring organization.
                We reach over 300 elementary and middle school students in the Berkeley and
                Oakland area with hands-on engaging science lessons.
              </p>
            </div>
          </div>
        </div>
      </main>

      <footer class="mastfoot">
      </footer>

    </div>

  </div>

</div>

</body>
