{% include header.html %}
{% include nav.html %}
<!-- {% include title.html %} -->
<!-- <div class='container'> -->
  <!-- <div class='row'>
    <div class='col-md-8 centered'>
      Welcome to Life In Bytes! If you want to learn more about the purpose of the blog, check out the
      <a href='/a-personal-perspective'>pilot post</a>. I also send out an occasional newsletter called
      Thought Bytes!
    </div>
  </div>
</div>
<hr /> -->

</header>
<body>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 centered'>
        {% for post in site.posts %}
          <a href='{{ post.permalink }}' class='blog-title-link'><h2>{{ post.title }}</h2></a>
          <h6 class='blog-subtitle'>{{ post.date | date: "%B %-d, %Y" }}</h6>
          <p class='home-blog-des'>
          {{post.excerpt | markdownify | remove: '<p>' | remove: '</p>'}}<b><a href='{{post.permalink}}' class='read-more'>Read More</a></b>
          </p>

        {% endfor %}
      </div>
    </div>
  </div>
<!-- </div> -->

{% include footer.html %}
