{% include header.html %}
<body>
<div class="container">
  <div class="page-header">
    <h1>Kevin Arifin <small>UC Berkeley EECS, Class of 2018</small></h1>
  </div>
  <div class="col-xs-6">
    <div class="col-md-12 jumbotron">
        <h1>Hi, I'm Kevin</h1>
        <p>
          I'm a student at UC Berkeley studying Electrical Engineering and Computer Science. My academic interests
          include the intersection of machine learning, data, and finance, and I am excited to be interning at Citadel this coming summer.
        </p>
        <p>
          I am also the president of <a href="http://beam.berkeley.edu/" target="_blank">Berkeley Engineers and Mentors</a>.
          We are a group of UC Berkeley students that mentor about 300 students a week at every elementary and middle school, providing engaging
          and hands-on science and engineering lessons.
        </p>
        <p><a class="btn btn-primary btn-lg" href="resume.pdf" role="button">Resumé</a></p>
    </div>
    <div class="col-md-12" style="padding-bottom: 70pt;">
      <div class="col-xs-4">
        <a href="https://www.linkedin.com/in/kevinarifin/" target="_blank"><img src="images/logos/linkedin.png" class="img-responsive"></a>
      </div>
      <div class="col-xs-4">
        <a href="https://www.facebook.com/kevarifin14" target="_blank"><img src="images/logos/facebook.png" class="img-responsive"></a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/kevarifin14" target="_blank"><img src="images/logos/github.png" class="img-responsive"></a>
      </div>
    </div>
  </div>
  <div class="col-xs-6" style="padding-bottom: 10pt;">
    <img src="images/me.png" class="img-rounded img-responsive">
  </div>
  <div class="col-xs-12 jumbotron">
    <h1>Places I've Worked</h1>
    <div class="media">
      <div class="media-left">
        <a href="http://rpm.solar/" target="_blank" >
          <img class="media-object" src="images/logos/rpm.png" style="width:100px;height:100px;">
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading">Ra Power Management</h2>
        <p>
          I helped develop a solar asset management platform as one of the first engineers on the team.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="https://www.zendesk.com/" target="_blank" >
          <img class="media-object" src="images/logos/zendesk.svg" style="width:100px;height:100px;">
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading">Zendesk</h2>
        <p>
          I worked on app optimization using Scala and the Finatra framework.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="https://www.citadel.com/" target="_blank" >
          <img class="media-object" src="images/logos/citadel.png" style="width:100px;height:100px;">
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading">Citadel</h2>
        <p>
          I'll be starting my summer internship in June as part of the Equities Research Team.
        </p>
      </div>
    </div>
  </div>

</div>
