{% include header.html %}
{% include post-nav.html %}

<body>
  <div class='cover-photo' style='background-image: url({{page.image}})'>
    <div style='text-align: center'>
      <h1 class='post-title'>{{ page.title }}</h1>
    </div>
    <h3 class='post-subtitle'>{{ page.date | date: "%B %-d, %Y" }}</h3>
  </div>
  <div class='container' id='blog'>
    <div class='row'>
      <div class='col-md-8 centered'>
        {{ content }}
        <hr class='after-post-hr'/>
          <h3>I'd love to hear from you!</h3>
          If you'd like to share your thoughts about my post, feel free to email me at <a href='mailto:kevin@lifeinbyt.es'>kevin@lifeinbyt.es</a>.
          I don't get very many emails from real people anymore so I would be happy to bounce ideas with you over email!
        <br />
        <br />
        <center><h2>Subscribe</h2></center>
        <div>
          <p style='text-align: center'>
            <i>
              If you are interested in signing up for my forthcoming Thought Bytes newsletter, subscribe below!
            </i>
          </p>
        {% include mailchimp.html %}
      </div>
    </div>
  </div>
{% include footer.html %}