{% include header.html %}
{% include post-nav.html %}
<script src="//yihui.name/js/math-code.js"></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<meta property="og:title" content="Life in Bytes | {{ page.title }}">
<meta property="og:description" content="Kevin's blog of personal musings">
<meta property="og:image" content="{{ page.image }}">
<meta property="og:url" content="https://kevinarifin.com/">

<body>
  <div
    class='cover-photo'
    style='
      background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
        url({{ page.image }});
      background-position: center;
      background-size: cover;'
  >
    <div style='text-align: center'>
      <h1 class='post-title'>{{ page.title }}</h1>
    </div>
    <h3 class='post-subtitle'>{{ page.date | date: "%B %-d, %Y" }}</h3>
  </div>
  <div class='container' id='blog'>
    <div class='row'>
      <div class='col-md-8 centered'>
        {{ content }}
        <hr class='after-post-hr'/>
          <h3>I'd love to hear from you!</h3>
          <p>
          If you'd like to share your thoughts about my post, feel free to email me at <a href='mailto:lifeinbytes@kevinarifin.com'>lifeinbytes@kevinarifin.com</a>
          or send me a DM on <a href='https://twitter.com/kevarifin' target='_blank'>Twitter</a>.
          I don't get very many emails from real people anymore so I would be happy to bounce ideas with you over email!
          </p>
        <hr class='after-post-hr'/>
        <center><h2>Subscribe</h2></center>
        <div>
          <p style='text-align: center'>
            <i>
              If you enjoyed this post and would like to read more of my work, I send my Thought Bytes newsletter every Thursday. Thought Bytes is
              a collection of the most thought provoking things I have consumed in the past week as well as updates about new posts on Life in Bytes.
              If this interests you, subscribe below!
            </i>
          </p>
          {% include mailchimp.html %}
        </div>
      </div>
    </div>
  </div>
{% include footer.html %}