{% include header.html %}
{% include title.html %}
<div class='container'>
  <div class='row'>
    <div class='col-md-8 centered'>
      <div>
        <a href='#books'>Books</a> |
        <a href='#articles'>Articles</a> |
        <a href='#podcasts'>Podcasts</a>
      </div>
      <br />

      <p>
        Books, podcasts, and articles have been a way for me to expand my perspective and inspirations to think of new ideas and
        ways to solve problems. I'll keep a running list of some of my favorite media I've consumed.
      </p>

      <a name='books'></a>
      <h2>Books</h2>
        <p>
          This is a collection of all the books I've written about in my <i>Books I Like</i> series. If you want a more in-depth look
          at my thoughts on each book, follow the link to my post.
        </p>
        <p><a href='/books-i-like-part-1'><i>Ender's Game</i> by Orson Scott Card</a></p>
        <p><a href='/books-i-like-part-1'><i>Quiet</i> by Susan Cain</a></p>
      <a name='articles'></a>
      <h2>Articles</h2>
        <p>
          As I compiled this list of articles, I realized how few articles have stuck with me long term, but the one's I remember have
          changed my life. I think it underscores the importance and difficulty of meaningful writing in a world where written media is all
          read and forget. Here are some of the few articles that have meant a lot to me.
        </p>
        <p>
          <a href='https://waitbutwhy.com/2014/06/taming-mammoth-let-peoples-opinions-run-life.html' target='_'>
            Wait But Why - Taming Your Mammoth
          </a>
        </p>
        <p>
          <a href='https://waitbutwhy.com/2015/11/the-cook-and-the-chef-musks-secret-sauce.html' target='_'>
            Wait But Why - The Cook and the Chef: Musk’s Secret Sauce
          </a>
        </p>
        <p>
          <a href='https://www.theatlantic.com/magazine/archive/2018/06/the-birth-of-a-new-american-aristocracy/559130/' target='_'>
            The Atlantic - The 9.9 Percent Is the New American Aristocracy
          </a>
        </p>
        <p>
          <a href='https://mitadmissions.org/blogs/entry/50_things/' target='_'>
            50 Things
          </a>
        </p>
        <p>
          <a href='https://www.nytimes.com/2015/01/11/fashion/modern-love-to-fall-in-love-with-anyone-do-this.html' target='_'>
            NY Times - To Fall in Love With Anyone, Do This
          </a>
        </p>

      <a name='podcasts'></a>
      <h2>Podcasts</h2>
        <p>
          Podcasts are one of my favorite forms of media consumption. They are great ways to fill a routine walk or drive to work or
          a workout at the gym. I'm a regular listener of <a href='https://www.nytimes.com/column/the-daily' target='_'>The Daily</a>,
          <a href='https://exponent.fm' target='_'>Exponent</a>, and <a href='https://a16z.com/podcasts/' target='_'>a16z Podcast</a>,
          but these are a collection of some of my favorite podcasts I've ever listened to.
        </p>
      <p>
        <a href='https://samharris.org/podcasts/136-digital-humanism/' target='_'>
          Making Sense - Digital Humanism
        </a>
      </p>
      <p>
        <a href='https://mastersofscale.com/brian-chesky-handcrafted/' target='_'>
          Masters of Scale - Brian Chesky, CEO of Airbnb
        </a>
      </p>
      <p>
        <a href='https://www.recode.net/2018/11/2/18053424/elon-musk-tesla-spacex-boring-company-self-driving-cars-saudi-twitter-kara-swisher-decode-podcast' target='_'>
          Recode Decode - Elon Musk on Tesla's crazy year, dying on Mars and taking Saudi money
        </a>
      </p>
      <p>
        <a href='https://a16z.com/2018/12/24/how-internet-happened-evolution-of-tech/' target='_'>
          a16z Podcast - How the Internet Happened
        </a>
      </p>
    </div>
  </div>
</div>
{% include footer.html %}
