{% include header.html %}
{% include title.html %}
<div class='container'>
  <div class='row'>
    <div class='col-md-9 centered' style='display: flex; justify-content: center; align-items: center'>
      <p style='text-align: center'>
        If you'd like to stay in touch, subscribe here! You'll get the occasional notification about a new post and my
        forthcoming <i>Thought Bytes</i> newsletter.
      </p>
    </div>
    <div class='col-md-9 centered'>
      {% include mailchimp.html %}
    </div>
  </div>
</div>
{% include footer.html %}
