{% include header.html %}
{% include nav.html %}
</header>
<div class='container'>
  <div class='row'>
    <div class='col-md-9 centered' style='display: flex; justify-content: center; align-items: center'>
      <p style='text-align: center'>
        If you'd like to stay in touch, subscribe here! You'll get the
        occasional Thought Bytes newsletter, containing updates about new posts,
        interesting podcasts and articles I've consumed, and a collection of my random musings.
      </p>
    </div>
    <div class='col-md-9 centered'>
      {% include mailchimp.html %}
    </div>
  </div>
</div>
{% include footer.html %}
