<p>
  Super Bowl Sunday has come to an end and this one was definitely a different one being away from home. I definitely missed my own couch with the huge TV in my family room! Instead I spent some time on the fifth floor lounge watching the Super Bowl while struggling to solve a perplexing CS homework problem (which I still have yet to solve!!). Anyways, it was a perfectly relaxing weekend and a definite calm before the storm as we slowly approach midterm season.
</p>
<p>
  Speaking of this semester, I wanted to share a couple of goals for the next couple months. First is the usual maintenance of grades, aiming for all A's and A-'s of course, continuing my "no B" streak to seven years! I know grades are somewhat meaningless but keeping up my grades is a way for me to challenge myself and keep me motivated.
</p>
<p>
  My second goal is to add someting to my extracurriculars. Today I went to a Cal Sol Data team meeting and it was super interesting and something I'm really excited to be a part of this semester! It might be a little over my head at first but being involved with the community gives me an opportunity to learn from a bunch of smart upperclassmen.
</p>
<p>
  My third and final goal is to try my best to search for an internship this summer. I actually read this great <a href="https://medium.com/@qrazhan/cs-internship-recruiting-guide-aebb68912808">guide</a> written by a Berkeley student that's been really helpful! The main iguidedea of the article is that to find a job, you have to be proactive and put yourself out there, which is one of my weaknesses. Even if I don't get an internship by this summer, it's a great learning experience putting myself out there, seeing people assess my strengths and weaknesses, and understanding how the hiring process works.
</p>
<p>
  Goals have always been a way to keep myself motivated, but they are not the end all be all of achievement. Goals merely lay out the path for a journey, and it is the journey that allows you to grow and learn about yourself. Next week, I will share stories about what I learned through the journey of my semester in college.
</p>
<p>
  As is customary, I will share a song that's been particularly memorable for me this past week. I just realized that this goes along with one of the most influential <a href="http://mitadmissions.org/blogs/entry/50_things">articles</a> I read before I left for college that has definitely impacted my college experience. Take a look at number 3! Thank you for reading and I hope you like a bit of Spanish music!
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/n9qU9kVc6jM" frameborder="0" allowfullscreen></iframe>
</p>
