<p>
  You could say I'm finally getting to experience what a real summer feels for
  the first time this year after finishing work this past week. It's definitely
  a great feeling to have a week to unwind before the semester starts up again.
  I have nothing planned except spending time with friends and family and a
  little bit of exercise (hopefully) and of course a little bit of coding too
  so I'm looking forward to a great week.
</p>
<p>
  I just got back from a weekend in Tahoe with my best friends from high school
  Nick and Alex. It was the first time this summer that all three of us were
  able to hang out together. We spent Saturday and Sunday up in Tahoe, driving
  up early Sunday morning and coming late Sudnay afternoon. We went swimming at
  the lake on Saturday and cooked steak together last night. The next day we
  went on a short hike before heading home in the afternoon.
</p>
<img id="post" src="/public/gaysians_in_tahoe.jpg" height="360" width="360">
<p>
  I'm spending today updating my website so look forward to any new additions
  I'll be making in the next couple hours (to my many viewers of course). But
  actually, I've been hoping to add reflections on books and podcasts to my
  site and currently I've been reading the Homecoming series by Orson Scott Card
  so I'll be starting my reviews and reflections about the novel.
</p>
