.stuff {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: span 2 / span 2;
    padding: 2rem;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: skew(-11deg);
        transform-origin: 50% 0;
        backface-visibility: hidden;
        background-color: white;
        z-index: -1;
    }
}